streamlit
streamlit-extras
torch
torchvision
opencv-python
numpy
pandas
requests
flask
Pillow
firebase-admin
python-dotenv
firebase-admin
google-cloud-firestore
streamlit-option-menu
folium
streamlit-folium
streamlit-lottie
requests
streamlit-javascript
